{% extends 'page.html.twig' %}

{% block title %}Panneau utilisateur{% endblock %}

{% block page %}

<div class="row text-center">
    <div class="col-12 pt-4">
        <h1>Bienvenue, {{ app.user.nom }} !</h1>
    </div>
</div>


<div class="row text-center">

    <div class="col-lg-4 my-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/icons/panier.jpg" alt="">
            <div class="card-footer">
                <a href="{{ path('cart') }}">
                    <button class="btn btn-lg btn-primary btn-block">Panier</button>
                </a>
            </div>
        </div>
    </div> <!-- /.col-lg-4 -->

    <div class="col-lg-4 my-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/icons/utilisateur.jpg" alt="">
            <div class="card-footer">
                <a href="{{ path('user', { id: app.user.id }) }}">
                    <button class="btn btn-lg btn-primary btn-block">Page utilisateur</button>
                </a>
            </div>
        </div>
    </div> <!-- /.col-lg-4 -->

    <div class="col-lg-4 my-4">
        <div class="card h-100 ">
            <img class="card-img-top" src="/static/icons/deconnexion.jpg" alt="">
            <div class="card-footer">
                <a href="{{ path('logout') }}">
                    <button class="btn btn-lg btn-danger btn-block">Déconnexion</button>
                </a>
            </div>
        </div>
    </div> <!-- /.col-lg-4 -->

</div> <!-- /.row -->
{% endblock %}
